@{
    ViewData["Title"] = "Home Page";
}

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome @Context.User.Claims.FirstOrDefault(_ => _.Type.Equals("name")).Value</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}




